/*===========================
    01. Common CSS
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Space+Mono:400,700&display=swap");
html,body {
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background: linear-gradient(
      rgba(0, 0, 0, 0.66), 
      rgba(3, 29, 86, 0.516)
    ),
    url("../img/map_bg_dark1.webp") no-repeat center center;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button {
  cursor: pointer;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 45px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.shape {
  position: absolute;
  z-index: -1;
}

.head-line1{
  font-weight: 600; 
  color : white; 
  font-size: 5rem; 
}
.Launch-tag{
margin-top: 1rem !important;
font-family: 'Times New Roman', Times, serif !important;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
  .head-line1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  
  .head-line1 {
    font-size: 4rem;
  }
  .Launch-tag{
    font-size: 0.8rem !important;
    margin-left: 0.2rem;
  }
}

.logo img {
  width: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .img-wrapper {
    display: none;
  }
}

@media (max-width: 767px) {
  .img-wrapper {
    display: none;
  }
}

@media (max-width: 767px) {
  .odd-col {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.slick-slide:focus {
  outline: 0;
}

.common-btn {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.common-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.common-btn:hover::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}




.countdown {
  padding-top: 40px;
  padding-bottom: 40px;
}

.countdown .single-count-content {
  position: relative;
  padding: 0 40px;
  text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .countdown .single-count-content {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .countdown .single-count-content {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .countdown .single-count-content {
    padding: 0 20px;
  }
}

.countdown .single-count-content::after {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
}

@media (max-width: 767px) {
  .countdown .single-count-content::after {
    top: -10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .countdown .single-count-content::after {
    top: -5px;
  }
}

.countdown .single-count-content:first-child {
  padding-left: 0px;
}

.countdown .single-count-content:last-child {
  padding-right: 0px;
}

.countdown .single-count-content:last-child::after {
  display: none;
}

.countdown .single-count-content .count {
  font-size: 50px;
}

@media (max-width: 767px) {
  .countdown .single-count-content .count {
    font-size: 35px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .countdown .single-count-content .count {
    font-size: 45px;
  }
}

.countdown .single-count-content .text {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .countdown .single-count-content .text {
    font-size: 15px;
  }
}

.header {
  position: absolute;
  /* top: 20px; */
  left: 0;
  width: 100%;
  z-index: 2;
  margin-top: 0;
  padding-top: 0;
}

main.main-06 {
  background: (to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.877)) !important;
  
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
}

main .header.header-06 {
  position: unset;
  padding-top: 40px;
  padding-bottom: 70px;
}

@media (max-width: 767px) {
  main .header.header-06 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* @media (max-width: 767px) {
  main .header.header-06 .header-right {
    display: none;
  }
} */

main .header.header-06 .header-right a {
  color: #fff;
  font-size: 20px;
  font-family: "Space Mono", sans-serif;
}

main .main-wrapper.demo-06 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

main .main-wrapper.demo-06 .hero-area {
  margin-bottom: 20px;
}

main .main-wrapper.demo-06 .hero-area h1 {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .hero-area h1 {
    font-size: 80px;
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area h1 {
    font-size: 50px;
  }
}

main .main-wrapper.demo-06 .hero-area p {
  font-family: "Space Mono", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 40px;
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content::after {
  content: ':';
  font-size: 54px;
  color: #fff;
  top: 35px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content::after {
    top: 30px;
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content::after {
    top: 30px;
    font-size: 45px;
  }
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .count {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .count {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .count {
    font-size: 40px;
  }
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .text {
  font-family: "Space Mono", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.5);
}

main .main-wrapper.demo-06 .team-area {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area {
    margin-bottom: 30px;
  }
}

main .main-wrapper.demo-06 .team-area .section-title h1 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-bottom: 7px;
  margin-bottom: 40px;
  position: relative;
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h1 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h1 {
    font-size: 22px;
  }
}

main .main-wrapper.demo-06 .team-area .section-title h1::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background: #fff;
  bottom: 0;
  left: 0;
}

main .main-wrapper.demo-06 .team-area .section-title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: 45px;
  color: #fff;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h2 {
    font-size: 32px;
    line-height: 42px;
  }
}

main .main-wrapper.demo-06 .team-area .team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
  width: calc(33.33% - 50px);
  margin: 0px 25px 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
    width: calc(33.33% - 30px);
    margin: 0px 15px 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
    width: calc(50% - 30px);
    margin: 0px 15px 50px;
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
    width: calc(100% - 50px);
    margin: 0px 25px 50px;
  }
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img {
  position: relative;
  margin-bottom: 20px;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img img {
  width: 100%;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links {
  position: absolute;
  width: 185px;
  height: 0px;
  background: #fff;
  border-top-right-radius: 57px;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links li {
  display: inline-block;
  margin: 0 8px;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links li a {
  font-size: 18px;
  color: #0A0A0A;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links li a:hover {
  color: #D5081A;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item:hover .team-img .social-links {
  height: 57px;
  opacity: 1;
  visibility: visible;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-info h4 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-info p {
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

main .footer {
  width: 100%;
  margin-bottom: 50px;
}

main .footer p {
  font-family: "Space Mono", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767px) {
  main .footer p {
    text-align: center;
  }
}

main .footer .credit {
  text-align: right;
}

@media (max-width: 767px) {
  main .footer .credit {
    text-align: center;
  }
}


.countdown-container {
  display: flex;
  gap: 20px;
}

.countdown-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 20px 30px;
  border-radius: 12px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.countdown-label {
  margin-top: 8px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.colon {
  font-size: 40px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  min-height: 0; /* base height */
  padding: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .centered-col {
    min-height: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .centered-col {
    min-height: 0;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .centered-col {
    min-height: 0;
  }
}


.contact-text{
  color:grey;
  font-size: 20px !important;
}

.desc-text{
  font-family: "Merriweather" !important;
  font-weight: 300 !important;
  color:rgb(240, 224, 224) !important;
}

/* Hide mobile-only by default */
.mobile-only {
  display: none;
}

/* Show desktop version by default */
.desktop-only {
  display: block;
}

/* On screens 767px or smaller (mobile), reverse it */
@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}



.contact-text-mobile{
  display:none ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

@media (max-width:800px){
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .logo{
    width: 50%;
    margin-left: 10px;
  }
  .count-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  .countdown-container {
    gap: 10px;
    
  }
  
  
  .countdown-box {
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 20px;
  }
  
  .countdown-label {
    margin-top: 8px;
    color: white;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1px;
  }
  
  .colon {
    font-size: 20px;
  }
  .description{
    align-items: flex-start;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
     /* optional, for side spacing */
  }
  .cmg-text{
    font-weight: 600 !important;
    color : black !important
  }
  
  .desc-text{
    font-size: 10px !important;
  }

  .credit{
    align-items: center;  
  }

  .tm-text{
    font-size: 0.8rem !important;
  }
}

@media(max-width: 760px) {
  .contact-text-mobile{
    display:block ;
    font-size: 12px !important;
  }
  
}

@media (max-width: 767px) {
  .row.align-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .row.align-mobile .col-md-4,
  .row.align-mobile .col-md-8 {
    flex: 0 0 auto;
    width: auto;
  }

  .header-right {
    text-align: right;
  }

  .logo img {
    width:30%;
  }

  .contact-text {
    font-size: 10px;
    margin: 0;
  }
}
